{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-4 text-center">MI CAMINO EN EL MUNDO ACADEMICO</h1>
        <P>Como estudiante universitario, cada proyecto que realizo es una oportunidad para consolidar mi aprendizaje y adquirir nuevas habilidades. Esta página es un reflejo de mi desarrollo académico, demostrando no solo mis conocimientos, sino también mi compromiso con la excelencia y la superación personal</P>
    </section>
    <section class="card card-body">
        <h1 class="display-4 text-center">ACCEDE A MI PAGINA WEB!</h1>
    
    <div class="text-center">
        <a class="btn btn-dark" href="/signin/">
            Iniciar Sesion
        </a>
        <a class="btn btn-dark" href="/signup/">
            Registrate
        </a>
    </div>
    </section>
</main>
{% endblock %}